<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/temperature.css">
	<script type="text/javascript" src="__PUBLIC__/js/echarts.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jqurey.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/table.js"></script>
	<title></title>
</head>
<body>
 <div id="node1" class="node"></div>
 <div id="node2" class="node"></div>
 <div id="node3" class="node"></div>

</body>
</html>